<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Power Club</title>
    <link rel="stylesheet" href="/css/background.css">
</head>
<body>
<%- include("./partials/nav.ejs") %>
<main class="container">
    <% if (locals.user) { %>
        <a href="/message">Create New Message</a>
    <% } %>
    <div class="cards">
        <% for (const msg of messages) { %>
            <div class="card">
                <div class="card-header"><%= msg.firstname %> <%= msg.lastname %></div>
                <div class="card-content"><%= msg.message%></div>
                <div class="card-footer">
                    <%
                        const date = new Date(msg.message_time);
                        const formattedDate = date.toLocaleString();
                    %>
                    <%= formattedDate %>
                </div>
            </div>
        <% } %>
    </div>
</main>
<%- include("./partials/footer.ejs") %>
</body>
</html>